
@font-face {
    font-family: 'customFont1'; /*a name to be used later*/
    src: url('YsabeauInfant-Thin.ttf'); /*URL to font*/
  }

/*----------------------------------*/
/*--------------Nav-Bar-------------*/
/*----------------------------------*/
html, body {
  height: 100%;
  margin: 0;
  background-color: black;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    height: 10%;
    z-index: 100;
    /*box-shadow: 0px 5px 20px black;*/
    font-size: 150%;
  }

  body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: black;
    font-family: customFont1;
  }

  .reveal{
    transform: translateY(15%);
    opacity: 0;
    position: relative;
    transition: all 2s ease;
  }

  
  .reveal.active{
    transform: translateY(0%);
    opacity: 1;
  }

  .navbar-container {
    max-width: 80%/*1200px*/;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    /*padding: 0 20px;*/
  }
  
  .logo {
    color: white;
    font-size: 100%;
    font-weight: bold;
  }
  
  .links {
    display: flex;
    color: white;
    font-weight: bold;
    gap: 20%/*50px*/;
  }
  
  .links a {
    color: white;
    text-decoration: none;
  }
  
  .links a:hover {
    text-decoration: underline;
  }

  /*.capa-inicial {
    height: 600px;
    width: 100%;
    background-color: blue;
    display:flex;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;  
  }*/


  #backgroundPersonImage {
    width: 100%;
    position: absolute;
    z-index: 0;
    height: 100%;
    object-fit: cover;
  }
  
  .capa-inicial h1 {
    z-index: 1;
    position: absolute;
  }

  /*.separador-1 {
    height: 100px;
    background-color: white;
    display:flex;
    box-sizing: border-box;
    padding: 10px;
  }*/





  .dropdown-performer {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    opacity: 0; /* Add this line */
    transform: translateX(-10%); /* Add this line */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Add this line */
    flex-direction:column; /* Add this line */
    align-items: flex-start; /* Add this line */
    background-color: black;
  }
  
  .dropdown-performer.active {
    opacity: 1; /* Add this line */
    transform: translateY(0px); /* Add this line */
  }
  
  .dropdown:hover .dropdown-performer.active {
    display: block;
  }
  
  .dropdown:hover .dropdown-performer {
    
    animation: dropdown-appear 1s ease forwards; /* Add these lines */
  }
  
  @keyframes dropdown-appear {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }



  .dropdown-aulas {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    opacity: 0; /* Add this line */
    transform: translateX(-10px); /* Add this line */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Add this line */
    flex-direction:column; /* Add this line */
    align-items: flex-start; /* Add this line */
    background-color: black;
  }
  
  .dropdown-aulas.active {
    opacity: 1; /* Add this line */
    transform: translateY(0px); /* Add this line */
  }
  
  .dropdown2:hover .dropdown-aulas.active {
    display: block;
    
  }
  
  .dropdown2:hover .dropdown-aulas {
    
    animation: dropdown-appear 1s ease forwards; /* Add these lines */
  }
  
  @keyframes dropdown-appear {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }


  

/*------------------------------------------------------------*/
  /* Sobre */
  /*------------------------------------------------------------*/

  .sobreSection {
    height: 55rem/*900px*/;
    background-color: white;
    display: grid;
    box-sizing: border-box;
    padding: 1%/*10px*/;
    justify-content: center;
    align-items: center;
    width: 110%;
    margin-top: 3.5%;
    position: relative;
    color: black;
  }

  .sobreSection h1 {
    text-align: center;
    font-size: 5.5rem;
    margin-top: 2.5%;
    font-weight: 100;
  }

  .gridSobre { 
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.gridSobre > div {
  flex: 1;
  height: 550px;
  width: 650px;
  margin-bottom: 40%;
}

#imagemInicial{
  background-image: url('ImagemDisplay1v3.jpeg');
  background-size: cover;
  box-shadow: 0px 0px 20px 5px black;
}

#tituloInfoCurso{
  color: black;
}

#textoInfoCurso{
  font-size: 19px;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
  color: black;
  font-weight: bold;
}

  /*------------------------------------------------------------*/
  /* Discografia e Eventos */
  /*------------------------------------------------------------*/

  .discEvents {
    height: 100%;
    background-color: black;
    display: grid;
    box-sizing: border-box;
    padding: 10px;
    justify-content: center;
    align-items: center;
    width: 100vw;
    /*margin-top: 100px;*/
    position: relative;
    color: white;
  }
  
  .discEvents h1 {
    /*color: white;*/
    text-align: center;
    font-size: 75px;
    margin-top: 1.5%;
    font-weight: 100;
  }

  /*.gridDiscEvents { 
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

.gridDiscEvents > div {
  flex: 1;
  height: 300px; 
  width: 600px;
  margin-bottom: 40%;
  
}

#discografia{
  border-right: solid white;
  border-right-width: 1px;
}

#eventos{
  border-left: solid white;
  border-left-width: 1px;
}

#textoDiscografia{
  font-size: 25px;
  text-align: start;
}*/

#textoEventos{
    font-size: 1.5rem;
    width: 70%;
    margin-left: 10%;
    align-items: center;
    
    align-content: center;
}

.textoEventos{
  color: white;
  text-align: left;
}

.aHref{
  color: white;
  text-decoration: none;
}

.aHref:hover{
  text-decoration:underline;
}

#tituloGridDiscEvents{
  font-size: 35px;
  font-weight: bold;
}
  /*------------------------------------------------------------*/
  /* DISCOGRAFIA */
  /*------------------------------------------------------------*/


  .discDisc {
    height: 100%;
    background-color: white;
    display: grid;
    box-sizing: border-box;
    padding: 10px;
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: relative;
    color: black;
  }
  
  .discDisc h1 {
    /*color: white;*/
    text-align: center;
    font-size: 75px;
    margin-top: 1.5%;
    font-weight: 100;
  }


#textoDisc{
    font-size: 1.5rem;
    width: 100%;
   
    align-items: center;
    align-content: center;
    

}

.textoDisc{
  color: black;
  text-align: left;
  
}

.aHref{
  color: black;
  text-decoration: none;
}

.aHref:hover{
  text-decoration:underline;
}


  /*------------------------------------------------------------*/
  /* FOTOS */
  /*------------------------------------------------------------*/

  .fotos-videos {
    height: 1200px;
    background-color: black;
    display: grid;
    box-sizing: border-box;
    padding: 10px;
    justify-content:center;
    align-items: center;
    width: 100vw;
    color: white;
  }

  .fotos-videos h1 {
    text-align: center;
    font-size: 75px;
    font-weight: 100;
    margin-top: -0%;
  }

  .sobre{
    background-color: black;
  }

  .image-container {
    display: flex;
    align-items: center;
    margin-left: 3%;
  }
  
  .image-box {
    width: 400px;
    height: 400px;
    margin: 0 20px;
    box-shadow: 0px 0px 10px 1px white;
    margin-bottom: 100px;
  }

  .image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* This ensures the image fills the box while maintaining its aspect ratio */
  }


  .image-box1 {
    width: 500px;
    height: 500px;
    margin: 0 20px;
    box-shadow: 5px 10px 15px black;
    margin-bottom: 100px;
  }

  /*=============================*/
/* ===== FORM DE CONTACTOS ====*/
/*=============================*/

.contactosFormContainer {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: flex-start; 
    height: 230px; 
  }
  
  input {
    width: 50%; 
    padding: 10px;
    height: 40px;
    font-size: 1rem; 
    text-align: center;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    background-color: white;
    font-family: customFont1;
    
  }
  
  #boxMessage {
    width: 250px;
    padding: 10px;
    height: 190px;
    font-size: 1rem; 
    text-align: center;
    margin-top: -122px;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    position: relative;
    font-family: customFont1;
    justify-content: left;
    margin-left: 190px;
    font-size: 20px;
    line-height: 20px;
    
  }
  

  #botaoSubmeter {
    color: white;
    width: 150px;
    height: 50px;
    margin-left: 300px;
    background-color: black;
    font-family: customFont1;
    border: 2px solid white;
    margin-bottom: 50px; 
  }

  #botaoSubmeter:hover{
    background-color: white;
    color:black;
    font-weight: bolder;
  }

  
  .contactos h1 {
    color: white;
    text-align: center;
    font-size: 4.5rem; 
    margin-top: 2.5%;
    font-weight: 100;
  }

  /*------------------------------------------------------------*/
  /* Redes Sociais */
  /*------------------------------------------------------------*/

  .redesSociais {
    height: 150px;
    background-color: white;
    display: grid;
    box-sizing: border-box;
    padding: 10px;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: 250px;
    position: relative;
    color: black;
  }
  
  .redesSociais h1 {
    /*color: white;*/
    text-align: center;
    font-size: 75px;
    margin-top: 2.5%;
    font-weight: 100;
  }



/*.redesDisponiveis{
  flex: 1;
  height: 150px; 
  width: 400px;
  margin-bottom: 40%;
  background-color: red;
  display: flex;
  align-items: center;
}*/

.redesDisponiveis { display: flex; 
  flex-direction: row;
   justify-content: center;
   align-items: center;
   height: 75px;
   width: 200px;
   margin-bottom: 40%;
   background-color: white;
   gap: 50px; 
  }

#instagram{
  background-color: green;
  height: 75px; /* Set the height as per your preference */
  width: 62px;
  background-image: url(instagramBW.jpg);
  background-position:top;
  background-size: cover;
  
}

#facebook{
  height: 75px; /* Set the height as per your preference */
  width: 68px;
  background-image: url(facebookBW.jpg);
  background-position: center;
  background-size: cover;
}

#spotify{
  background-color: green;
  height: 75px; /* Set the height as per your preference */
  width: 90px;
  background-image: url(spotifyBW.jpg);
  background-position: center;
  background-size: cover;
}

#youtube{

  height: 75px; /* Set the height as per your preference */
  width: 80px;
  background-image: url(youtubeBW.png);
  background-position: center;
  background-size: cover;
}


  /*------------------------------------------------------------*/
  /* AJUSTAR PARA TELEMOVEL */
  /*------------------------------------------------------------*/



/* Media Queries */
/*@media screen and (max-width: 768px) {
    .navbar-container {
        padding: 0 10px;
    }

    .logo {
        font-size: 24px;
    }

    .links a {
        margin-left: 10px;
    }

    .capa-inicial {
        height: auto;
    }

    .capa-inicial h1 {
        font-size: 24px;
    }

    .gridSobre > div {
        height: auto;
        width: 100%;
        margin-bottom: 20px;
    }

    .gridDiscEvents > div {
        height: auto;
        width: 100%;
        margin-bottom: 20px;
    }
}*/
/* Styles for desktop and larger screens */
@media screen and (min-width: 768px) {

  /* The code you shared for desktop screens goes here */

}

/* Styles for mobile screens */
@media screen and (max-width: 767px) {

  .navbar-container{
    flex-direction: row;
    background-color: blue;
    height: 100%;
    width: 100%;
    margin: 0;

  }

  
  
  /*

  .links{
    flex-direction: row;
    gap: 60px;
  }

  .logo{
    display: none;
  }
*/






/*
  .navbar-container {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  .links {
    flex-direction: column;
    gap: 20px;
  }

  .logo {
    margin-bottom: 20px;
  }


  .capa-inicial {
    height: 300px;
  }


  .dropdown-performer,
  .dropdown-aulas {
    position: static;
    opacity: 1;
    transform: none;
    transition: none;
    background-color: initial;
  }

  .dropdown-performer.active,
  .dropdown-aulas.active {
    display: none;
  }

  .dropdown:hover .dropdown-performer.active,
  .dropdown2:hover .dropdown-aulas.active {
    display: none;
  }

  .dropdown:hover .dropdown-performer,
  .dropdown2:hover .dropdown-aulas {
    display: none;
  }


  .sobreSection {
    margin-top: 50px;
    height: 1200px;

  }

  .sobreSection h1 {
    font-size: 40px;
    margin-bottom: -30%;
  }

  .gridSobre {
    flex-direction: column;
    gap: 20px;

  }

  .gridSobre > div {
    height: auto;
    width: 100%;
    margin-bottom: 20px;
  }

  #imagemInicial {
    background-size: contain;
  }

  .discEvents {
    height: 10000px;
    background-color: black;
    display: grid;
    box-sizing: border-box;
    padding: 10px;
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: relative;
    color: white;

  }
  
  .discEvents h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 2.5%;
    font-weight: 100;
  }
  
  .gridDiscEvents {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

  }
  
  .gridDiscEvents > div {
    flex: 1;
    height: 400px;
    width: 90%; 
    margin-bottom: 20px;
    
  }
  
  #discografia {
    border-right: solid white;
    border-right-width: 1px;
    font-size: 1px;
  }
  
  #eventos {
    border-left: solid white;
    border-left-width: 1px;
  }
  
  #textoDiscografia {
    font-size: 15px;
    text-align: start;
  }
  
  #textoEventos {
    font-size: 15px;
    text-align: start;
  }
  
  ul li {
    padding-top: 5px;
  }
  
  ul {
    padding-top: 15px;
  }
  
  #tituloGridDiscEvents {
    font-size: 35px;
    font-weight: bold;
  }
  
  
  .fotos-videos {
    height: 1200px;
    background-color: black;
    display: grid;
    box-sizing: border-box;
    padding: 10px;
    justify-content: center;
    align-items: center;
    width: 100vw;
    color: white;
  }
  
  .fotos-videos h1 {
    text-align: center;
    font-size: 75px;
    font-weight: 100;
    margin-top: 0;
  }
  
  .sobre {
    background-color: black;
  }
  
  .image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 3%;
  }
  
  .image-box {
    width: 90%; 
    height: auto;
    margin: 0 20px;
    box-shadow: 0px 0px 10px 1px white;
    margin-bottom: 100px;
  }
  
  .image-box img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .image-box1 {
    width: 90%;
    height: auto;
    margin: 0 20px;
    box-shadow: 5px 10px 15px black;
    margin-bottom: 100px;
  }

  .hide-desktop {
    display: none;
  }*/


}

